# Visual Studio
.vs/
*.user
*.suo

# .NET Build Output
bin/
obj/

# Publish Output
.publish/

# appsettings-Dateien ignorieren
appsettings.json
appsettings.*.json

# Logs
*.log

# System-Dateien
.DS_Store
Thumbs.db

# Temporary files
*.tmp